body {
  font-family: 'Circular', sans-serif;
  font-weight: 200;
  font-size: 0.9rem;

  #topColumn {
    height: 360px;

    ul li {
      a,
      span {
        font-weight: 600;
      }

      img {
        width: 27px;
        height: 27px;
      }
    }

    .dots {
      font-size: 1.6rem;
    }
  }
}
