body {
  font-family: 'Circular', sans-serif;
  font-weight: 200;
  font-size: 0.8rem;

  #topColumn,
  #bottomColumn {
    height: 350px;

    ul li {
      a,
      input,
      span,
      p {
        font-size: 0.8rem;
        font-weight: 600;
      }

      img {
        width: 27px;
        height: 27px;
      }
    }

    .dots {
      font-size: 1.6rem;
    }
  }
}
