// // importo "functions.scss"
// @import '../scss/functions';
// // importo "_variables.scss"
// @import '../scss/variables';

// // ho accesso alle definizioni dei colori di bootstrap e alla varibile "$theme-colors" che li raggruppa

// // creo il mio nuovo colore
// $spotify: #1ed760;

// // inserisco in una nostra versione di "$theme-colors"
// $new-theme-colors: (
//   'spotify': $spotify,
// );
// // sovrappongo $new-theme-colors sull'originale $theme-colors dove andrà ad aggiungersi anche il mio colore $darkest
// $theme-colors: map-merge($theme-colors, $new-theme-colors);

// // importo il bootstrap.scss originale nel quale sarà presente anche il nuovo colore che serve a me
// @import '../scss/bootstrap.scss';

body {
  font-family: 'Circular', sans-serif;
  font-weight: 200;
  font-size: 0.9rem;

  #topColumn {
    height: 350px;

    ul li {
      a,
      span {
        font-weight: 600;
      }

      img {
        width: 27px;
        height: 27px;
      }
    }

    .dots {
      font-size: 1.6rem;
    }
  }
}
