#introduction{
    display: flex;
}

#finestra{
    display: none;
}

#serchFriends{
    margin: 1em;
    display: none;
}

#serchFriends input{
    width: 80%;
}

article p{
    font-size: x-small;
}

article h3{
    font-size: small;
}